<ion-header>

  <ion-navbar>
    <ion-title>Astronaut Academy</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
   <ion-grid>
    <ion-row align-items-center>
      <ion-col class="center" align-self-center>
        <h2 class="feedback">
          {{(answerIsCorrect === true) ? "Correct!" : "Incorrect"}}
        </h2>
        <ion-img *ngIf="answerIsCorrect === false"
          width="200" height="200" src="assets/imgs/sad.png">
        </ion-img>
        <ion-img *ngIf="answerIsCorrect === true"
        width="200" height="200" src="assets/imgs/happy.png">
        </ion-img>
        <h5 class="feedback" *ngIf="answerIsCorrect === false">
          Correct answer is<br> "{{correctAnswer}}"
        </h5>
        <div class="center">
          <button ion-button (click)="nextQuiz()">
            {{(currentIndex+1 === totalQuizNum) ? "Show Me How I Did!" : "Next Question!"}}
          </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
